@font-face 
{
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face 
{
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face 
{
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


body
{
    padding-left: 360px;
    padding-right: 360px;

    background-color: rgba(15,23,42,255);

}

#headingC
{
    margin-bottom:77px;
}

#headingC-name
{
    /* background-color: pink; */
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    margin: 0px;

    display: flex;
    align-items: center;
    color: rgba(88,219,212,255);
}

#headingC-subtitle
{
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;

    /* background-color: red; */

    margin: 0px;

    color:white;
}

#headingC-name-span-img
{
    width: 16px;
    height: 16px;
    /* background-color: blue; */

    display: inline-block;
    color: rgba(88,219,212,255);
}

#headingC-name-span
{
    /* background-color: green; */

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
} 

table 
{
    
    width: 1170px;
    table-layout: fixed;
    border-collapse: collapse;

}


table tr
{
    height: 75px;
    text-align: left;
    color: #888888;
}

th:nth-child(1) 
{
    /* width: 10%; */

    width: 66px;
    height: 75px;

    /* background-color: yellow; */
    text-align: left;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

th:nth-child(2) 
{
    /* width: 25%; */

    width: 301px;

    /* background-color: orange; */
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: white;
}

th:nth-child(3) 
{
    /* width: 20%; */

    width: 144px;

    /* background-color: purple; */
    text-align: left;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: white;
}

th:nth-child(4) 
{
    /* width: 30%; */

    width: 429px;

    /* background-color: cyan; */
    text-align: left;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: white;
}

th:nth-child(5) 
{
    width: 230px;
    /* background-color: magenta; */
    text-align: left;
    
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: white;

}

td 
{
    border-bottom: 1px solid rgba(34,43,61,1);;
}

/* 1. sloupec */
td:nth-child(1) 
{

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: rgba(129,148,183,1);

}

/* 2. sloupec */
td:nth-child(2) 
{

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;

    color:white;
    
}

/* 3. sloupec */
td:nth-child(3) 
{

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: rgba(129,148,183,1);
}

/* 4. sloupec */
td:nth-child(4) 
{

    /* background-color: yellow; */

}

.td-a:hover 
{
    color: rgba(88, 219, 212, 1);
}

.programLang
{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 12px;

    color: #5EEAD4;              
    background-color: #2DD4BF1A;  

    width: fit-content;

    border-radius:25px; /* kulaté rohy */

    margin-right: 5px;
}

.technologies 
{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;

    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.td-a-img
{
    width: 16px;
    height: 16px;

    /* background-color: red; */

    margin-left: 5px;

    /* color: rgba(129,148,183,1); */
}

.td-a 
{
    display: inline-flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: rgba(129,148,183,1);
}

.td-a-img2
{
    width: 16px;
    height: 16px;

    /* background-color: red; */

    /* color: rgba(129,148,183,1); */
}
