
@font-face
{
    font-family: 'Bree Serif';
    src: url('../fonts/breeserif/BreeSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Chewy';
    /* src: url('/static/fonts/Chewy/Chewy-Regular.ttf') format('truetype'); */
    src: url('../fonts/chewy/Chewy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}


@font-face {
  font-family: 'Lexend';
  src: url('../fonts/Lexend/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face
{
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body
{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    min-height: 100vh;
    /* background: radial-gradient(
        circle at 75% 50%,
        #1f6fff 0%,
        #7fb1ff 35%,
        #c8d9f5 70%,
        #eef1f7 100%
    ); */

    /* background: radial-gradient(
    circle at 75% 50%,
    rgba(187,214,255,1) 0%,
    rgba(249,251,255,1) 100%
    ); */

        /* background: radial-gradient(
        circle at 80% 50%,
        rgba(187,214,255,1) 0%,
        rgba(220,235,255,1) 50%,
        rgba(249,251,255,1) 100%
    ); */


    /* background: radial-gradient(
        circle at 80% 50%,
        rgba(187,214,255,1) 0%,
        rgba(220,235,255,1) 50%,
        rgba(249,251,255,1) 100%
    );  */

    background:
                radial-gradient(
                    700px 520px at 15% 45%,
                    rgba(179, 209, 255, 0.72) 0%,
                    rgba(190, 216, 255, 0.52) 28%,
                    rgba(210, 228, 255, 0.32) 48%,
                    rgba(232, 241, 255, 0.18) 68%,
                    rgba(249, 251, 255, 0) 100%
                ),
                linear-gradient(
                    90deg,
                    rgba(245, 249, 255, 1) 0%,
                    rgba(249, 251, 255, 1) 100%
                );

    /* background-color: rgba(249,251,255,1); */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}


#mainC
{
    /* width: 67.5%; */
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#AboutMe
{
    height: auto;
    width: 100%;

    /* background: pink; */
}

img
{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}


#AbautMeTitle
{
    /* font-family: 'Chewy'; */
    font-family: 'Bree Serif';
    font-weight: 700;
    font-size:  24px;

    color: black;
}

#workplace
{

    font-family: 'Bree Serif';
    font-weight: 700;
    font-size:  24px;

    color: black;

    /* text-shadow: 0.5px 0 0 currentColor; */
}

#AboutMedesc
{
    font-family: 'Lexend';
    font-weight: 500;
    font-size:  16px;
    color: #888888;

    line-height: 1.5;

    text-align: justify;
}

#myimg
{
    width:  120px;
    height: auto;

    /* display: none; */

    border-radius: 5px;

    /* background-color: rgba(181,211,255,1); */
}

#job-p
{
    font-family: 'Lexend';
    font-weight: 500;
    font-size:  16px;
    color: #888888;

    line-height: 1.5;

    text-align: justify;

}

#AboutMeName
{
    color:rgba(0,105,255,255);
    font-weight: 700;
}

.spans
{
    color:rgba(0,105,255,255);
    font-weight: 700;
}

#navbar
{
    width:100%;
    height: 50px;
    background-color: red;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
}

#navbar-c1
{
    /* width:42%; */
    height: 100%;
    background-color: blue;
}

#navbar-c2
{
    /* width:58%; */
    height: 100%;
    /* background-color: green; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar-item
{
    font-family: 'Lexend';
    font-weight: 500;
    font-size:  16px;
    color: black;
}

.navbar-item:hover
{
    color:rgba(0,105,255,255);
    cursor: pointer;
}

#hamburgerImg
{
    color: rgba(106,166,255,1) !important;
}

#hamburgerBtn
{
    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;
}

#languanges
{
    height: auto;
    width: 100%;
}


#languangeTitle
{
    /* font-family: 'Chewy'; */
    font-family: 'Bree Serif';
    font-weight: 700;
    font-size:  24px;

    color: black;
}

#languanges-p
{
    font-family: 'Lexend';
    font-weight: 500;
    font-size:  16px;
    color: #888888;

    line-height: 1.5;

    text-align: justify;

}

#languangesList
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* background-color: red; */
}

#languanges-p2
{
    font-family: 'Lexend';
    font-weight: 500;
    font-size:  16px;
    color: #888888;

    line-height: 1.5;

    text-align: justify;

}

#languangesList2
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* background-color: blue; */
}

#languanges-p3
{
    font-family: 'Lexend';
    font-weight: 500;
    font-size:  16px;
    color: #888888;

    line-height: 1.5;

    text-align: justify;

}


/* telefon na výšku */

@media (max-width: 575px)
{

    #navbar-c1
    {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        background-color: yellow;
    }

    #navbar-c2
    {
        width: 0%;
        background-color: pink;
        display: none;
    }

    #mainC
    {
        width: 95%;
    }

    #hamburgerBtn
    {
        margin-right: 10px;
    }
}

/* telefon na šířku */

@media screen and (min-width: 576px) and (max-width: 767px)
{

    #navbar-c1
    {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        background-color: pink;
    }

    #navbar-c2
    {

        width: 0%;
        background-color: orange;
        display: none;
    }

    #mainC
    {
        width: 90%;
    }

    #hamburgerBtn
    {
        margin-right: 10px;
    }


}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px)
{
    #navbar-c1
    {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        background-color: green;
    }

    #navbar-c2
    {
        width: 0%;
        background-color: yellowgreen;
        display: none;
    }

    #mainC
    {
        width: 85%;
    }

    #hamburgerBtn
    {
        margin-right: 10px;
    }

}

/* notebook/desktop */
@media screen and (min-width: 992px) and (max-width: 1199px)
{
    #navbar-c1
    {
        width:30%;
    }

    #navbar-c2
    {
        width:70%;
        background-color: yellow;
    }

    #mainC
    {
        width: 80%;
    }

    #hamburgerBtn
    {
        display: none;
    }

}

/* desktop s velkým monitorem */
@media screen and (min-width: 1200px) and (max-width: 1400px)
{
    #navbar-c1
    {
        width:42%;
    }

    #navbar-c2
    {
        width:58%;
        background-color: brown;
    }

    #mainC
    {
        width: 75%;
    }

    #hamburgerBtn
    {
        display: none;
    }

}

/* desktop s velkým monitorem */
@media (min-width: 1400px)
{
   #navbar-c1
   {
      width:42%;
   }

   #navbar-c2
   {
      width:58%;
      background-color: blue;
   }

   #mainC
   {
     width: 67.5%;
   }

   #hamburgerBtn
   {
     display: none;
   }

}

#hamburgerBtn
{
    width: 30px;
    height: 30px;
}

#hamburgerImg
{
    width: 100%;
    height:auto;
    color:red;
}

#projectTitle
{
    /* font-family: 'Chewy'; */
    font-family: 'Bree Serif';
    font-weight: 700;
    font-size:  24px;

    color: black;
}

#projectsReps
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    background-color: lightgreen;

    margin-top:     50px;
    margin-bottom:  50px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#card1
{
    width: 380px;
    height: 222px;

    background-color: rgba(252,255,237,1);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom: 2px solid rgba(101,114,17,1);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#card1Title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background-color: blue; */

    width: 100%;
    height: 15%;

    margin: 0px;

    /* padding-left: 33px; */

    box-sizing: border-box;

    margin-top: 10px;

    padding-left:   30px;
    padding-right:  20px;
}


#card1Name
{
    font-weight: 600;
    font-size: 18px;
    font-family: 'Bree Serif';

    /* margin-left: 10px; */

    color:#005A9C;
}

#pokus
{
    width: 75px;
    height: auto;
    color: rgba(106,166,255,1);

}


#html
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier1
{
    width: 100%;
    height: 100%;
    color: #FFD700;

    position: absolute;
    left: 0;
    top: 0;

}

#icon_html
{
    width: 75%;
    height: 75%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#python2
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier2
{
    width: 100%;
    height: 100%;
    color: #FFD700;

    position: absolute;
    left: 0;
    top: 0;

}

#python_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#css
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier3
{
    width: 100%;
    height: 100%;
    color: #FFD700;

    position: absolute;
    left: 0;
    top: 0;

}

#icon_css
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#JS
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier4
{
    width: 100%;
    height: 100%;
    color: #FFD700;

    position: absolute;
    left: 0;
    top: 0;

}

#JS_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#angular
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier5
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#angular_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#react
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier6
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#react_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#java
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier7
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#java_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#MSSql
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier8
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#MSSql_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#SQLlite
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier9
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#SQLlite_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#Oracle
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier10
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#Oracle_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#mySQL
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier11
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#mySQL_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#Csharp
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier12
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#Csharp_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#Cplus
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier13
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#Cplus_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#C
{
    width: 60px;
    height: 60px;
    color: white;
    position: relative;
}

#bazier14
{
    width: 100%;
    height: 100%;
    color: rgba(106,166,255,1);

    position: absolute;
    left: 0;
    top: 0;

}

#C_icon
{
    width: 60%;
    height: 60%;

    color: white;

    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#moreInformation
{
    width: 100%;
    height: 80%;

    /* background-color: pink;  */

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

#moreInformation-left-C
{
    width: 40%;
    height: 100%;

    /* background-color: red;   */

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    padding-top: 20px;

    box-sizing: border-box;
}

#moreInformation-right-C
{
    width: 60%;
    height: 100%;

    /* background-color: green;   */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
}

/* #imgC
{
    width: 108px;
    height: 108px;

    border: 2px solid rgba(66,142,255,1);
    border-radius: 25px;

    background-color: transparent;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    position: relative;

    background-color: white;

} */


#moreInformation-right-C-p1,#moreInformation-right-C-p2,#moreInformation-right-C-p3,#moreInformation-right-C-p4,#moreInformation-right-C-p5
{
    margin: 0px;
    width: 100%;
    margin-bottom: 2px;

    color:#005A9C;
}

#programmingImg
{
    width:  14px;
    height: auto;

    color:#005A9C;
    /* margin-left: 9px; */

}

#pythondesc
{
    margin: 0px;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left:    8px;

    font-family:    'Lexend';
    font-size:      12px;
    font-weight:    500;
}

#moreInformation-right-C-p1
{
    font-family: 'Bree Serif';
    font-size: 16px;
    font-weight: 600;

    margin-top:     20px;
    margin-bottom:  10px;

    color: black;
}

#moreInformation-right-C-p2
{
    /* background-color: pink !important; */
    width: 100%;

    display: flex;
    flex-direction: row;
}

#deviceImg
{
    width: 14px;
    height: auto;

    color:#005A9C;

    /* margin-left: 9px; */
}

#devicedesc
{
    margin: 0px;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;

    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 500;


}

#moreInformation-right-C-p3
{
    /* background-color: pink !important; */
    width: 100%;

    display: flex;
    flex-direction: row;
}

#workImg
{
    width:  14px;
    height: auto;

    color:#005A9C;
    /* margin-left: 9px; */
}

#workdesc
{
    margin: 0px;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;

    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 500;

}

#moreInformation-right-C-p4
{
    /* background-color: pink !important; */
    width: 100%;

    display: flex;
    flex-direction: row;
}


#yearImg
{
    width:  14px;
    height: auto;

    color:#005A9C;
    /* margin-left: 9px; */
}

#yeardesc
{
    margin: 0px;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;

    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 500;

}

#moreInformation-right-C-p5
{
    /* background-color: pink !important; */
    width: 100%;

    display: flex;
    flex-direction: row;
}

#card1-img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 22px;
}

#imgC
{
    width: 108px;
    height: 108px;

    border: 2px solid rgba(66,142,255,1);
    border-radius: 25px;

    background-color: transparent;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;
    /* position: relative; */

    background-color: white;

    /* padding: 1px; */

}

/* 14.7.2026 */

#myProjects
{
    font-family: 'Bree Serif';
    font-weight: 700;
    font-size:  24px;

    color: black;

    background-color: yellow;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    margin: 0;
    margin-bottom: 3px;
}

#projects
{
    height: auto;
    width: 100%;

    background-color: lightblue;

    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    /* margin-top: 18px; */
    /* margin-bottom: 50px; */
}


#cards-track
{

    width: 100%;
    background-color: pink;
    height: auto;
    box-sizing: border-box;

    /* margin-bottom: 50px; */

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 20px;

    /* margin-top: 50px; */
    /* margin-bottom: 150px; */
    /* margin-top: 150px; */
}


/* * * * * * * */
/*             */
/* class Card  */
/*             */
/* * * * * * * */

.card
{

    width: 309px;
    height: 369px;

    background-color: white;

    /* background-color: rgba(241,245,249,1); */

    border: 1px solid rgba(233,234,242,1);

    border-radius: 20px;

    display: flex;
    flex-direction: column;

    padding: 16px;

    box-sizing: border-box;

    z-index: 1;

    position: relative;

}


.card-row1
{
    /* height: 189px; */

    height: 167px;

    width: 100%;
    /* background-color: #005A9C; */
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.card-imgC
{
    width: 277px;
    height: 156px;

    /* background-color: grey; */

    /* border: 1px solid gray; */

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.card-img
{
    border-radius: 20px;
}

.coverLayer
{
    width: 277px;
    height: 156px;

    background-color: #E5E4E2;

    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 20px;

    opacity: 0.2;

}

.card:hover
{
    background-color: rgba(246,247,249,1);
    z-index: 5;
}


.card:hover .card-details
{
    display: flex;
}

.card3-row2
{
    height: 90px;
    width: 100%;
    /* background-color: red; */
    flex-shrink: 0;
}

.card-projectTitle
{
    /* background-color: chartreuse; */

    font-size: 18px;
    font-family:'Plus Jakarta Sans';
    font-weight: 700;

    margin: 0;
    margin-top: 5px;
    margin-bottom: 12px;

    color: #004687;

}

.card-author
{
    font-size: 12px;
    font-family:'Plus Jakarta Sans';
    font-weight: 400;

    margin: 0px;

    color: rgba(89,92,115,1);
}


.card-row3
{
    height: 90px;
    width: 100%;
    /* background-color: green; */
    flex: 1;          /* Zabere všechen zbývající prostor */

    display: flex;
    flex-direction: row;

    justify-content: start;
}

.card-languanges
{

    width:75px;
    height: 22px;

    border-radius: 5px;

    background-color: rgba(194,233,235,1);
    color: rgba(42,82,97,1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-family:'Plus Jakarta Sans';
    font-weight: 700;

    margin-top: 15px;


}

.card-likes
{
    width: 47px;
    height: 20px;

    margin-top: 15px;

    border: 1px solid rgba(209,210,224,1);
    border-radius: 5px;

    margin-left: 5px;

    background-color: #E5E4E2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-thumb-up
{
    width: 15px;
    color: #004687;
}

.card-likescount
{
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-family:'Plus Jakarta Sans';
    font-weight: 600;

    margin-left: 5px;

    color: #004687;
}


/* 22.7.2026 */

.card-details
{

    width: 342px;
    height: 552px;

    background-color: white !important;

    border: 1px solid rgba(209,210,224,1);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 24px;

    box-sizing: border-box;

    position: absolute;

    /* top: -20px; */

    top: -115px;

    left: 300px;

    display: none;

    z-index: 5;

}

.card-details::before
{
    content: "";
    position: absolute;

    left: -16px;
    top: 275px;

    width: 0;
    height: 0;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 16px solid #d0d7e2;
}

.card-details::after
{
    content: "";
    position: absolute;

    left: -15px;
    top: 276px;

    width: 0;
    height: 0;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 15px solid white;
}

.card:hover
{
    background-color: rgba(246,247,249,1);
}


.card:hover .card-details
{
    display: flex;
}

.card-introductory
{

    width: 100%;
    height: auto;

    /* background-color: green; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.card-introductory-title
{
    font-size:   20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;

    /* background-color: #00FA9A;  */

    margin: 0;
    padding: 0;

    margin-bottom: 15px;

    color: #7393B3;
}

.card-introductory-lang-date
{
    width: 100%;
    height: auto;

    /* background-color: darkgrey; */

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    margin-bottom: 11px;
}

.card-introductory-lang
{
    background-color: rgba(194,233,235,1);
    color: rgba(13,82,97,1);


    font-size:   12px;
    font-family:'Plus Jakarta Sans';
    font-weight: 700;

    width: 76px;;
    height: 23px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-introductory-date
{
    width: auto;
    height: auto;

    font-size:   12px;
    font-family:'Plus Jakarta Sans';
    font-weight: 700;

    color: rgba(71,126,99,1);

    margin-left: 9px;
}


.card-introductory-origin
{
    /* background-color: blueviolet;  */

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: auto;

    margin-bottom: 16px;

}


.card-introductory-origin-platform
{
    font-size:   12px;
    font-family:'Plus Jakarta Sans';
    font-weight: 700;

    /* color: #FEBE10; */

    color: white;

    width: 76px;
    height: 23px;

    /* background-color: #F0E68C; */

    background-color: #DAA520;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.card-introductory-origin-platform2
{
    font-size:   12px;
    font-family:'Plus Jakarta Sans';
    font-weight: 700;

    /* color: #FEBE10; */

    color: white;

    width: 76px;
    height: 23px;

    /* background-color: #F0E68C; */

    background-color: #DAA520;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 10px;

}

.card-content
{

    width: 100%;
    height: 50%;

    /* background-color: yellowgreen; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    border-top: 1px solid #E5E4E2;

    padding-top: 10px;

}

.card-content-desc
{
    width: 100%;
    height: auto;

    /* background-color: darkorange; */

    color: rgba(105,106,120,1);

    font-size:   14px;
    font-family:'Plus Jakarta Sans';
    font-weight: 400;

    display: block;

    text-align: justify;

    margin: 0;

    margin-bottom: 10px;

    line-height: 1.5;

}

.card-content-func1, .card-content-func2, .card-content-func3, .card-content-func4, .card-content-func5
{
    width: 100%;
    height: 20px;

    /* background-color: cornflowerblue; */

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    color: rgba(105,106,120,1);


    font-size:   14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;

    margin-bottom: 10px;

}

.card-content-func1-desc, .card-content-func2-desc, .card-content-func3-desc, .card-content-func4-desc, .card-content-func5-desc
{

    /* background-color: red;  */

    width: 100%;
    height: auto;

    text-align:  justify;

    /* margin: 0; */
    /* margin-bottom: 5px;
    margin-left: 5px; */

    color: rgba(105,106,120,1);
}

.functionImg
{
    width: 18px;
    /* color: rgba(105,106,120,1); */

    color:#005A9C;

    /* background-color: green; */

    margin-left: 5px;
    margin-right: 5px;
}


.card-links
{

    width: 100%;
    height: 20%;

    /* background-color: pink; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box;

    border-top: 1px solid #E5E4E2;

}

.card-links-btn1
{
    width: 100%;
    height: 30px;
    border-radius: 5px;

    border: none;
    outline: none;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    /* background-color: #004687; */

    background-color: #E1EBEE;

    /* border: 1px solid #004687; */

    cursor: pointer;

    padding-left: 100px;
}

.card-links-imgC-img1
{
    width: 25px;
    /* background-color: red; */
    color: #004687;
}

.card-links-btn2
{
    width: 100%;
    height: 30px;
    border-radius: 5px;

    border: none;
    outline: none;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    background-color: #E1EBEE;
    /* background-color: #004687; */

    /* border: 1px solid #004687; */

    padding-left: 100px;

    cursor: pointer;
}

.card-links-imgC2-img1
{
    width: 20px;
    color: #004687;
    /* background-color: red; */
}

.card-links-btn2-p
{
    font-size:   14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    color: #004687;
    margin: 0;

    margin-left: 5px;
}

.card-links-btn1-p
{
    font-size:   14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    color: #004687;
    margin: 0;

    margin-left: 5px;
}



.cards-slider
{
    width: 100%;
    height: 620px;
    overflow: hidden; 

    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards-track
{
    display: flex;
    gap: 20px;

    transition: transform 0.5s ease;
}

.card-dots
{
    display: flex;
    justify-content: center;
    gap: 8px;

    /* margin-top: 15px; */

    background-color: green;

    padding:20px;

    border-radius: 10px;
}

.card-dot
{
    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: gray;

    cursor: pointer;
}

.card-dot.active
{
    background-color: black;
}

#card-dots-wrapper
{
   width: 100%;
   height: auto;
   background-color: orangered;

   display: flex;
   flex-direction: row;

   justify-content: start;
   align-items: start;

   padding-left: 50px;
}